<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Peringkat</th>
        <th scope="col">Username</th>
        <th scope="col">Point</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th>1</th>
        <td>Gilang</td>
        <td>1645</td>
      </tr>
      <tr>
        <th></th>
        <th>2</th>
        <td>Alfandi</td>
        <td>1454</td>
      </tr>
      <tr>
        <th></th>
        <th>3</th>
        <td>Ridho</td>
        <td>1443</td>
      </tr>
      <tr>
        <th></th>
        <th>4</th>
        <td>Adit</td>
        <td>1423</td>
      </tr>
      <tr>
        <th></th>
        <th>5</th>
        <td>Billy</td>
        <td>14</td>
      </tr>

    </tbody>
  </table>