<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col">Pertandingan</th>
        <th scope="col"></th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>24 July 2021</td>
        <td></td>
        <th>Gilang vs Alfandi</th>
        <td></td>
        <td>01.00 pm</td>
      </tr>
      <tr>
        <th>2</th>
        <td>24 July 2021</td>
        <td></td>
        <th>Billy vs Ridho</th>
        <td></td>
        <td>02.00 pm</td>
      </tr>
      <tr>
        <th>3</th>
        <td>24 July 2021</td>
        <td></td>
        <th>Gilang vs Billy</th>
        <td></td>
        <td>03.00 pm</td>
      </tr>
      <tr>
        <th>4</th>
        <td>24 July 2021</td>
        <td></td>
        <th>Alfandi vs Adit</th>
        <td></td>
        <td>04.00 pm</td>
      </tr>
      <tr>
        <th>5</th>
        <td>24 July 2021</td>
        <td></td>
        <th>Ridho vs Alfandi</th>
        <td></td>
        <td>05.00 pm</td>
      </tr>
    </tbody>
  </table>