<form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Masukkan Username">
    </div>

    <div class="form-group">
        <label for="nama">Nama</label>
        <input type="text" class="form-control" id="nama"  placeholder="Masukkan nama">
    </div>

    <div class="form-group">
        <label for="gender">Jenis Kelamin</label>
        <select class="form-control" id="gender">
          <option>Pilih Jenis Kelamin</option>
          <option>Pria</option>
          <option>Wanita</option>
        </select>
      </div>
    

    <div class="form-group">
        <label for="kota">Kota</label>
        <input type="text" class="form-control" id="kota" placeholder="Masukkan Asal Kota">
    </div>
    
   
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Telah mengisi dengan benar dan jujur</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>